<%- include("./nav")%>
    <div class="body">
        <h1>A WebApp Where You Can Add Your Daily Curriculam Plan.</h1>
        <h3>No One Can Access Your Note Without Your User Id.</h3>
        <a href="/todo/addtodos">Add Todo</a>
    </div>